.dictionaryBox {
  font-family: sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;

  label {
    text-align: center;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
  }
}

@media screen and (max-width: 800px) {
  .dictionaryBox {
    flex-flow: column;

    & > div {
      width: 100%;
      margin-top: 1em;
    }
  }
}
