.inputBox {
  width: 80%;
  border-radius: 1em;
  background: skyblue;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75em;
  box-shadow: 3px 3px 5px rgb(24, 70, 88);

  label {
    width: 100%;
  }
}

.editor {
  min-height: 10em;
  width: 100%;
  border: 1px solid darkgray;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 1.25em;
  background-color: "#f5f5f5";
  font-family: "ui-monospace,Consolas,Liberation Mono,monospace";
  padding: 0.5em;
  color: rgb(0, 48, 0);
  resize: none;
}
