.runButton {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em;
  width: 30%;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.runSpinner {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.33em;
}
